.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  justify-items: center;
  gap: 1rem;
  width: 100%;
  padding-bottom: 2rem;
  img {
    width: 300px;
    height: auto;
    border-radius: var(--radius);
  }
  @media (width >= 550px){
    grid-template-columns: 4fr repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    width: 80%;
    margin-inline: auto;
    font-size: 1.5rem;
    img {
      grid-column: 1/2;
      grid-row: 2/7;
      width: 450px;
    }
    a:first-of-type {
      grid-column: 2/3;
    }
    > a {
      font-size: 1.5rem;
    }
  }
}
.span3mobile {
  grid-column: 1/4;
  @media (width >= 550px){
    grid-column: none; 
  }
}
.necahual {
  @media (width >= 550px){
    grid-column: 2/5;
  }
}
.title {
  grid-column: 2/3;
  margin-block: 3rem;
  @media (width >= 550px){
    grid-column: 1/5;
  }
}
.webtoons {
  color: var(--highlight);
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}
.alignCenter {
  align-self: center;
}
.merchSection {
  margin-top: 2rem;
}