.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  justify-items: center;
  a {
    font-weight: 700;
    cursor: pointer;
  }
  @media (width >= 550px) {
    gap: 2rem;
  }
}
.h1 {
  margin-block: 1rem;
}
.events {
  display: inherit;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  width: 100%;
  justify-items: start;
  h2 {
    color: var(--highlight);    
  }
}
