:root {
  --highlight: #f58f89;
  --dark-highlight: #983025;
  --background: #fffefd;
  --turq: #019d8d;
  --gray: #5c5c5c;
  --light-gray:#9f9f9f;
  --form-gray: #c4c4c4;
  --faded-highlight: #ffe2d6;
  --warn-highlight: #f33e4f;
  --radius: 8px;

  // SNIPCART
  /* Default */
--bgColor-buttonPrimary: var(--highlight);
--bgColor-buttonSecondary: var(--highlight);

// /* Hover */
--color-buttonPrimary-hover: var(--highlight);
--borderColor-buttonSecondary-hover: var(--highlight);
--bgColor-buttonPrimary-hover: #fff;
--bgColor-buttonSecondary-hover: #fff;
--borderColor-buttonPrimary-hover:var(--highlight);

// /* Active */
--color-buttonPrimary-active: var(--highlight);
--color-buttonSecondary-active: var(--highlight);
--borderColor-buttonPrimary-active: var(--highlight);
--borderColor-buttonSecondary-active: var(--highlight);
--bgColor-buttonPrimary-active: #fff;
--bgColor-buttonSecondary-active: #fff;

// /* Focus */
--color-buttonPrimary-focus: var(--highlight);
--color-buttonSecondary-focus: var(--highlight);
--borderColor-buttonPrimary-focus: var(--highlight);
--borderColor-buttonSecondary-focus: var(--highlight);
--bgColor-buttonPrimary-focus: #fff;
--bgColor-buttonSecondary-focus: #fff;
--shadow-buttonPrimary-focus:: var(--highlight);
--shadow-buttonSecondary-focus:: var(--highlight);

/* ----------------------- 
    PART: Input
----------------------- */

// /* Hover */
--borderColor-input-hover: var(--highlight);

// /* Focus */
--borderColor-input-focus: var(--highlight);
--shadow-input-focus: var(--faded-highlight);

// /* Checked */
--borderColor-input-checked: var(--highlight);
--bgColor-input-checked: var(--highlight);

// /* Error */
--borderColor-input-error: var(--dark-highlight);


//BADGES
/* Default (completed) */
--color-badge: var(--highlight);
--borderColor-badge: var(--highlight);

// /* Active */
--color-badge-active: var(--highlight);
--borderColor-badge-active: var(--highlight);
--bgColor-badge-active: #fff;


--bgColor-modal: #fff;
--bgColor-info: var(--faded-highlight);
--borderColor-default: var(--highlight);
/* ----------------------- 
    PART: Icon
----------------------- */

--color-inputIcon: var(--highlight);

/* Hover */
--color-inputIcon-hover: var(--dark-highlight);

/* Focus */
--color-inputIcon-focus: var(--dark-highlight);

}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  background: var(--background);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  gap: 1rem;
  color: #222;
  min-height: 100%;
}
header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  margin-top: 2rem;
  p {
    color: var(--highlight);
  }
  img {
    mix-blend-mode: multiply;
  }
  @media ( width >= 550px ) {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    grid-template-areas: 
    "logo logo logo" 
    "social tag shop"
    "nav nav nav";
    .logo{
      grid-area: logo;
      grid-column: span 3;
      justify-self: center;
    }
    .tagline{
      grid-area: tag;
    }
    .social-links {
      grid-area: social;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      font-size: 1.25rem;
      a {
        transform: scale(1);
        color: var(--gray);
        &:hover,
        &:active,
        &:focus {
          cursor: pointer;
          transform: scale(1.2);
          color: var(--highlight);
        }
      }
    }
    .shop-icons {
      grid-area: shop;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      font-size: 1.25rem;
      justify-items: center;
      align-items: center;
    }
    button {
      font-size: 1.25rem;
      transform: scale(1);
      border: none;
      background: transparent;
      color: var(--gray);
      &:hover,
      &:active,
      &:focus {
        cursor: pointer;
        transform: scale(1.2);
        color: var(--highlight);
      }
    }
  }
  nav {
    border-top: 2px solid var(--faded-highlight);
    border-bottom: 1px solid var(--faded-highlight);
    width: 100%;
    z-index: 10;
    position: fixed;
    bottom: 0;
    background: var(--background);
    ul {
      list-style: none;
      text-align: center;
      display: grid;
      gap: 1rem;
      padding-block: 1rem;
    }
    li,
    li > a {
      font-size: 1.5rem;
      color: #222;
      &:hover,
      &:focus,
      &:focus-visible {
        display: block;
        width: 100%;
        background-color: var(--highlight);
        color: white;
        font-weight: 600;
        border:none;
        outline: none;
      }
    }
    @media ( width >= 550px ) {
      grid-area: nav;
      position: static;
      ul {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        li {
          &:hover,
          &:focus,
          &:focus-visible {
            background-color: transparent;
            color: #222;
            font-weight: 400;
          }
        }
        li > a {
          &:hover,
          &:focus,
          &:focus-visible {
            background-color: transparent;
            color: var(--highlight);
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }
    }
    .mobile-menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap:1rem;
      padding: 1rem;
      .shopping-icon {
        justify-self: end;
      }
      img {
        justify-self: start;
      }
    }
  }
}
main {
  max-width: 90%;
}
@media( width >= 550px ) {
  .snipcart-customer-signin {
  
    width:2rem;
    height: 2rem;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.shopping-icon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width:2rem;
  height: 2rem;
  color: var(--gray);
  &:hover {
    color: var(--highlight);
  }
  svg {
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
  }
  .snipcart-items-count {
    grid-column: 2/3;
    grid-row: 1/2;
    background: var(--background);
    border-radius: 50%;
    border: 1px solid var(--highlight);
    z-index: 2;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: var(--gray);
  }
}
footer {
  grid-row: 3/4;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
  border-top: 2px solid var(--faded-highlight);
  padding-block: 1rem;
  margin-bottom: 45px;
  .social-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    a {
      color: var(--gray);
      font-size: 1.5rem;
      transform: scale(1);
      &:hover,
      &:active,
      &:focus {
        transform: scale(1.2);
        color: var(--highlight);
      }
    }
    @media ( width >= 550px ) {
      grid-area: connect;
      grid-template-rows: repeat(2, 1fr);
      p {
        grid-column: 1/4;
      }
    }
  }
  .payment-methods {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    font-size: 1.5rem;
    margin-block: 1rem;
    color: var(--light-gray);
    @media ( width >= 550px ) {
      grid-area: pay;
      font-size: 2rem;
    }
  }
  @media ( width >= 550px ) {
    grid-template-areas: 
    "connect contact extra" 
    "connect contact extra" 
    "pay pay pay";
    grid-template-columns: repeat(3, 1fr);
    margin-top:3rem;
    margin-bottom: 0;
    gap: 1rem;
    font-size: 1.5rem;
    .contact {
      grid-area: contact;
    }
    .extra-links {
      grid-area: extra;
      display: grid;
      justify-items: center;
    }
    ul {
      list-style: none;
    }

  }
}
h1 {
  font-size: 2rem;
  color: var(--highlight);
  text-align: center;
  margin-top: 1rem;
  @media (width >= 550px) {
    font-size: 3rem;
  }
}
h2 {
  font-size: 1.25rem;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: var(--highlight);
    text-decoration: underline;
  }
}

.product-item {
  display: grid;
  border-radius: var(--radius);
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr auto 1fr;
  width: 100%;
  align-items: start;
  .overlay {
    display: none;
  }
  .soldOut {
    display: none;
  }
  img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
  &:hover,
  &:focus-visible {
    text-decoration: none;
    color: #222;
    font-weight: 700;
    box-shadow: 0 0 10px 2px var(--faded-highlight);
    .overlay {
      display: block;
      grid-column: 1/2;
      grid-row: 1/2;
      width: 100%;
      height: 100%;
      background: var(--background);
      z-index: 2;
      opacity: 15%;
    }
    
  }
  &:focus-visible {
    outline-color: var(--highlight);
  }
  @media (width >= 550px) {
    grid-template-rows: repeat(4, auto);
    max-width: 400px;
    max-height: 400px;    
    min-width: 200px;
    min-height: 200px;  
    justify-items: center; 
    text-align: center;
    img {
      grid-row: 1/5;
      grid-column: 1/2;
    } 
    .product-title {
      display: none;
      grid-row: 2/3;
      grid-column: 1/2;
      font-size: 2rem;
      font-weight: 700;
      max-width: 90%;
    }
    .product-price {
      display: none;
      grid-column: 1/2;
      grid-row: 3/4;
      font-size: 1.5rem;
    }
    &:hover,
    &:focus-visible {
      .product-title,
      .product-price {
        display: block;
        z-index: 3;
      }
      .overlay {
        grid-column: 1/2;
        grid-row: 1/5;
        opacity: 85%;
      }
    }
  }
  p {
    max-width: 150px;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  margin-block: 3rem;
  h1 {
    grid-column: 1/3;
  }
  @media (width >= 550px) {
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem auto 3rem auto;
    max-width: 996px;
    #category-menu {
      grid-column: 1/4;
    }
  }
}
#category-menu {
  grid-column: 1/3;
  text-align: center;
  font-size: 1.5rem;
  z-index: 2;
  height: 30px;
  margin-bottom: 2rem;
  button {
    color: var(--gray);
    font-size: 1.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
  }
  ul {
    list-style: none;
    margin-top: 1rem;
    padding: 2rem;
    border: 2px solid var(--faded-highlight);
    border-radius: var(--radius);
    background: var(--background);
    li {
      margin-block: 1rem;
    }
  }
}

#pagination {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  font-size: 1rem;
  justify-items: center;
  margin-block: 6rem 3rem;
  .font-medium {
    font-weight: 600;
  }
  nav {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(9, auto);
    gap: 0.5rem;
    @media (width >= 550px) {
      gap: 0;
    }
    button {
      background: transparent;
      border: none;
      font-size: 1rem;
      border-radius: var(--radius);
      width: 1.5rem;
      height: 1.5rem;
      @media (width >= 550px) {
        width: 2rem;
        height: 2rem;
      }
      cursor: pointer;
      &:hover {
        background: var(--faded-highlight);
      }
      &.selected {
        color: white;
        background: var(--highlight);
      }
      &.arrow-nav {
        width: auto;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr;
        justify-items: center;
        svg {
          grid-row: 1/2;
        }
        span{
          grid-row: 2/3;
        }
        @media (width >= 550px) {
          gap:.5rem 1rem;
          &:last-child {
            margin-left: 1rem;
          }
          &:first-child {
            margin-right: 1rem;
          }
        }
        &:hover {
          text-decoration: underline;
          background: none;
        }
      }
      &.inactive {
        color: var(--gray);
        font-weight: 300;
        cursor: not-allowed;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.react-photo-album--image {
  width: 100px !important;
  height: 100px !important;
}
.react-photo-album--columns{
  max-width: 300px;
  overflow-x: scroll;
  gap:5px;
  justify-content: start !important;
  width: 100%;
  border-radius: var(--radius);
  @media (width >= 550px) {
    max-width: 400px;
  }
}
.react-photo-album--track {
  width: 100px !important;
}

.snipcart-modal__close-icon, 
.snipcart-cart-header__icon,
.snipcart-modal__close-icon {
  color: var(--highlight) !important;
}
.snipcart-button-icon.is-secondary {
  color: var(--highlight);
  background-color: #fff;
  border: 1px solid var(--highlight);
}